body{
    background-color: #efefef;
}

.man{
    background-color: #dff0d8;
    margin: 29px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
.bianji-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}